<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgwei.demopet.demos.web.mapper.GetStatisticsAllMapper">
    <select id="getStatisticsAll" resultType="com.tgwei.demopet.demos.web.entity.GetStatistics">
        SELECT (SELECT COUNT(*) FROM sys_user WHERE role IS NOT NULL)                 AS totalSysUser,# 系统用户数
               (SELECT COUNT(*) FROM sys_user WHERE role = 'owner')                   AS totalCustomers,# 客户人数
               (SELECT COUNT(*) FROM sys_user WHERE role = 'veterinarian')            AS totalVeterinarian,# 兽医人数
               (SELECT COUNT(*) FROM sys_user WHERE role = 'foster_staff')            AS totalFosterStaff,# 寄养员工人数
               (SELECT COUNT(*)
                FROM sys_user
                WHERE role IN ('veterinarian', 'foster_staff'))                       AS totalStaff,# 员工人数
               (SELECT COUNT(*) FROM service_order)                                   AS totalOrder,# 订单数
               (SELECT COUNT(*) FROM service_order WHERE service_type = 'MEDICAL')    AS totalMedicalOrders,# 医疗订单数
               (SELECT COUNT(*) FROM service_order WHERE service_type = 'FOSTER')     AS totalFosterOrders,# 寄养订单数
               (SELECT SUM(amount) FROM service_order)                                AS totalIncome,# 收入
               (SELECT SUM(amount) FROM service_order WHERE service_type = 'MEDICAL') AS totalMedicalIncome,# 医疗收入
               (SELECT SUM(amount) FROM service_order WHERE service_type = 'FOSTER')  AS totalFosterIncome# 寄养收入
    </select>

    <select id="getStatisticsRooms" resultType="com.tgwei.demopet.demos.web.entity.GetStatistics">
        SELECT (SELECT COUNT(*) FROM rooms)                            AS totalRooms,# 房间数
               (SELECT COUNT(*) FROM rooms WHERE status = 'available') AS availableRooms,# 可用房间数
               (SELECT COUNT(*) FROM rooms WHERE status = 'occupied')  AS occupiedRooms# 占用房间数
    </select>
    <!--    今日订单数-->
    <select id="countTodayOrders" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM service_order
        WHERE DATE(create_time) = CURDATE()
          and status != 'canceled'
    </select>
    <!--    今日营收-->
    <select id="sumTodayRevenue" resultType="java.lang.Integer">
        SELECT SUM(amount)
        FROM service_order
        WHERE DATE(create_time) = CURDATE()
          and status != 'canceled'
    </select>
    <!--    今日新增用户-->
    <select id="countTodayNewUsers" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sys_user
        WHERE DATE(create_time) = CURDATE()
    </select>
    <!--    订单增长率(今日与昨日对比)-->
    <select id="countYesterdayOrders" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM service_order
        WHERE DATE(create_time) = DATE_SUB(CURDATE(), INTERVAL 1 DAY)
          and status != 'canceled'
    </select>
    <!--  营收增长率  -->
    <select id="countYesterdayRevenue" resultType="java.lang.Integer">
        SELECT SUM(amount)
        FROM service_order
        WHERE DATE(create_time) = DATE_SUB(CURDATE(), INTERVAL 1 DAY)
          and status != 'canceled'
    </select>
    <!--    昨日新增用户-->
    <select id="countYesterdayNewUsers" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sys_user
        WHERE DATE(create_time) = DATE_SUB(CURDATE(), INTERVAL 1 DAY)
    </select>
    <!--    总订单数-->
    <select id="countOrders" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM service_order
    </select>
    <!--    总营收入-->
    <select id="sumRevenue" resultType="java.lang.Integer">
        SELECT SUM(amount)
        FROM service_order
    </select>
    <!--    总用户数-->
    <select id="countUsers" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sys_user
    </select>
    <!--    宠物总数-->
    <select id="countPets" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM pet_info
    </select>
    <select id="countFosterOrders" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM service_order
        WHERE service_type = 'FOSTER'
          and DATE(create_time) = CURDATE()
    </select>
    <select id="countMedicalOrders" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM service_order
        WHERE service_type = 'MEDICAL'
          and DATE(create_time) = CURDATE()
    </select>
    <select id="getOrderStatus" resultType="com.tgwei.demopet.demos.web.entity.OrderStatusDTO">
        SELECT status,
               COUNT(*) AS count
        FROM service_order
        GROUP BY status
    </select>
    <select id="getHotServiceItem" resultType="com.tgwei.demopet.demos.web.entity.ServiceItemHotDTO">
        SELECT si.service_name,
               COUNT(*) AS count
        FROM service_order as so
                 left join service_item as si on so.service_id = si.id
        where so.service_id is not null
        GROUP BY so.service_id, si.service_name
        ORDER BY count DESC
        LIMIT #{limit}
    </select>
    <select id="getOrderAmount" resultType="com.tgwei.demopet.demos.web.entity.OrderAmountDTO">
        SELECT DATE(create_time) as date,
               SUM(amount)       as amount
        FROM service_order
        WHERE create_time >= DATE_SUB(NOW(), INTERVAL #{days} DAY)
          and service_order.status = #{status}
        GROUP BY DATE(create_time)
        ORDER BY date
    </select>


</mapper>
