<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tgwei.demopet.demos.web.mapper.sysNotificationMapper">
    <insert id="createSysNotification" >
        insert into sys_notification (user_id, type, title, content, is_read, create_time)
        values (#{userId}, #{type}, #{title}, #{content}, #{isRead}, #{createTime})
    </insert>

</mapper>